body {
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#formGiaoVien {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 400px;
    max-height: 60vh; /* Set max height to 80% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

#btnThemGiaoVien {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 5px; /* Thêm bo góc cho nút */
}

#btnThemGiaoVien:hover {
    background-color: white;
    color: black;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    opacity: 0.8;
}
h2 {
margin-left: 50px;
}
p {
margin-left: 50px;
}
ul {
margin-left: 50px;
}
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f4f4f4;
color: #333;
}
.main2 {
margin-top: 80px;
margin-left: 50px;
}


h1, h2 {
color: #333;
}


form {
margin-bottom: 20px;
}


label {
display: block;
margin-bottom: 5px;
}


input[type="text"], input[type="password"] {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border-radius: 5px;
border: 1px solid #ccc;
}


button[type="submit"] {
padding: 10px 20px;
background-color: #333;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}


button[type="submit"]:hover {
background-color: #5a6268;
}


table {
width: 100%;
border-collapse: collapse;
}


table, th, td {
border: 1px solid #ccc;
}


th, td {
padding: 10px;
text-align: left;
}
.pagination {
/* Đặt kích thước tổng thể của thanh phân trang */
font-size: 0.8em;
}


.pagination a, .pagination span {
/* Đặt kích thước của từng nút trong thanh phân trang */
padding: 5px 10px;
}
.logout-button {
display: inline-block;
background-color: #333;
color: #fff;
padding: 10px 20px;
text-decoration: none;
border-radius: 5px;
transition: background-color 0.3s ease;
}


.logout-button:hover {
background-color: #5a6268;
}
 .pagination {
font-size: 1em; /* Thay đổi kích thước phân trang ở đây */
}
