body {
    font-family: Arial, sans-serif;
    background: url('https://vaa.edu.vn/datafiles/setone/1651199605_1602212892_Co-so-2-VAA.jpg') no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.login-form {
    width: 300px;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #000;
}
.login-form h2 {
    text-align: center;
    margin-bottom: 30px;
}
.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
}
.login-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #007BFF;
    border-radius: 30px;
}